* {
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  color: var(--main-font-color);
}

.full-screen {
  height: 100vh;
  width: 100%;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.no-select {
  user-select: none;
}

.display-none {
  display: none !important;
}

h1, .h1 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}

input {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  outline: none;
  background-color: var(--white);
  border: 1px solid var(--input-border-color);
}

input::placeholder {
  color: var(--input-placeholder-color);
}

.button {
  padding: 0.5em 1em;
  text-transform: uppercase;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
}

.button:hover {
  background-color: rgb(235, 235, 235);
}

.button:active {
  background-color: grey;
}

.button.big {
  min-height: 3em;
  min-width: 6em;
  font-weight: 600;
}

.button.big.very {
  font-size: 2rem;
}

#root {
  padding: 3rem;
}

:root {
  --main-font-color: #333;
  --main-button-background-color: lightgrey;
  --main-button-border-color: #999;
  --input-border-color: #999;
  --input-placeholder-color: #888;
  --white: #fff;
  --border-color: #eee;
  --progress-background: #a3d207;
}
