#game-page.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 2rem;
  grid-template-areas: "left-block right-block";
}

#game-page .left-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;
  gap: 1rem 0px;
  grid-template-areas: "header" "users";
  grid-area: left-block;
  border-right: 1px solid var(--border-color);
}

button#go-back {
  width: 50%;
}

button#ready.waiting {
  background: repeating-linear-gradient(
    -45deg,
    #ddd,
    #ddd 20px,
    #bbb 20px,
    #bbb 40px
  );
}

button#ready.waiting:hover {
  background: repeating-linear-gradient(
    -45deg,
    #eee,
    #eee 20px,
    #ccc 20px,
    #ccc 40px
  );
}

button#ready.waiting:active {
  background: repeating-linear-gradient(
    -45deg,
    #ccc,
    #ccc 20px,
    #aaa 20px,
    #aaa 40px
  );
}

#game-page .users {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "." "." "." "." ".";
  grid-area: users;
}

#game-page .header {
  grid-area: header;
  flex-direction: column;
}

#game-page .right-block {
  grid-area: right-block;
  padding: 2rem;
}

.user {
  justify-content: space-around;
  flex-direction: column;
  padding: 1rem 1rem 1rem 0;
}

.user:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

.user h3 {
  align-items: center;
  width: 100%;
}

.you {
  margin-left: 10px;
  color: lightgrey;
}

span.result {
  display: inline-block;
  margin-left: 20px;
  color: salmon;
}

span.user__name {
  display: inline-block;
}

.user__status {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  fill: red;
}

.user__status.ready {
  fill: green;
}

.user .progress-container {
  width: 100%;
  height: 40px;
  border: 1px solid #999;
}

.user .progress-bar {
  height: 38px;
  background-color: var(--progress-background);
  width: 0;
}

.user.finished .progress-bar {
  background-color: limegreen;
}

#text-done {
  background-color: var(--progress-background);
  display: inline-block;
}

#game-text.finished #text-done {
  background-color: limegreen;
}

#game-text.finished #text-remain:before {
  display: none;
}

#text-done,
#text-remain {
  display: inline-block;
  white-space: pre;
}

#text-remain:before {
  content: ' ';
  width: 20px;
  border-bottom: 3px solid salmon;
  position: absolute;
}

#start-countdown {
  font-size: 7rem;
}

#game-text {
  font-size: 3rem;
}

.countdown-container {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-style: italic;
  color: #777;
}

#end-countdown {
  font-size: 1.5rem;
  font-weight: 600;
  color: inherit;
}
