#rooms-page.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  gap: 2rem 0px;
  grid-template-areas:
    "main-header"
    "rooms";
}

#rooms-page .header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem 0px;
  grid-template-areas:
    "h1"
    "buttons";
  grid-area: main-header;
  border-bottom: 1px solid var(--border-color);
}

#rooms-page .h1 { grid-area: h1; }

#rooms-page .buttons { grid-area: buttons; }

#rooms {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem 1rem;
  grid-template-areas:
    ". . . ."
    ". . . .";
  grid-area: rooms;
}

.room {
  border: 1px solid var(--border-color);
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.room:hover {
  box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 0.1);
}

.room h2 {
  align-self: center;
}

.room .connected-users {
  font-style: italic;
  color: #777;
}

.room .connected-users__count {
  font-weight: 600;
  color: inherit;
}